.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 1080px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 800px;
  position: relative;
}
.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  /* display: inline-flex; */
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.6rem;
  border-radius: 50%;
  
}
.embla__button {
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.embla__button:disabled {
  opacity: 0.3;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}
